.restaurant-card {
    height: 300px;
    width: 300px;
    padding: 10px;
    display: grid;
    grid-template: 66% 16% 16%/1fr;
    box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.1),  /* Ombre pour le côté nord (haut) */
    5px 5px 10px rgba(0, 0, 0, 0.1),  /* Ombre pour le côté est (droite) */
    -5px 5px 10px #0000001a, /* Ombre pour le côté ouest (gauche) */
    0px 8px 15px rgba(0, 0, 0, 0.2); /* Ombre pour le côté sud (bas) */
    border-radius: 8px;
    background-color: #f9f9f9;
  }

  img {
    grid-area: 1/1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h3 {
    grid-area: 2/1;
  }
  
  p {
    grid-area: 3/1;
    color: #666;
  }
  